@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
   margin: 0;
   padding: 0;
}
body{
   font-family: 'Poppins', sans-serif;
}
main{
   display: flex;
   justify-content: center;
}
.container{
   width: 1200px;
}

/* banner */
.banner{
   margin: 50px 0;
}
.banner-content{
   display: flex;
   padding: 0 100px;
   color: #ffffff;
   background-color: #161616;
   border-radius: 30px;
}
.banner-text{
   width: 50%;
   padding-top: 90px;
   padding-bottom: 100px;
}
.banner-text h1{
   margin-bottom: 20px;
   font-size: 60px;
   font-weight: 700;
   line-height: 1.25;
}
.banner-text p{
   margin-bottom: 45px;
}
.banner-text a{
   padding: 16px 25px;
   background-color: #DD0000;
   color: #ffffff;
   text-decoration: none;
   border-radius: 5px;
}
.banner-text a i{
   margin-left: 10px;
}

.banner-img{
   width: 50%;
   margin-left: 55px;
   padding-top: 20px;
}
.banner-img img{
   height: 100%;
}